{% extends 'quiz/base.html' %}
{% block title %}Редагувати вікторину{% endblock %}

{% block content %}
<h2>Редагувати вікторину</h2>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="mb-3">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
    {% endfor %}

    <h4>Питання</h4>
    {{ formset.management_form }}
    {% for form in formset %}
        <div class="border p-3 mb-2">
            {% for field in form %}
                <div class="mb-2">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
        </div>
    {% endfor %}

    <button type="submit" class="btn btn-success">Зберегти зміни</button>
</form>
{% endblock %}

